@font-face{
    font-family:'Inconsolata';
    font-style:normal;
    font-weight:normal;
    src:local('Inconsolata'),url('./fonts/inconsolata.woff') format('woff');
}

html,body{
    margin:0;
    height:100%;
}

html{
    background-color: brown;
}

header{
    height: 160px;
    padding: 20px;
    text-align: center;
    color: white;
}

nav{
    width: 100%;
    height: calc(100% - 200px);
    display: flex;
    align-items: stretch;
}

nav a{
    text-decoration: none;
    color : white;
    flex-grow: 1;
    padding: 20px;
    width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

nav a h2{
    text-align: center;
}


.terminal{
    background-color: black;
    background-image: url("./images/terminal.png");
}

.interface{
    background-color: #1f253d;
    background-image: url("./images/interface.png");

}